*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
} 

#main{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    /* background-color: blue; */ /*to understand that when we gave margin top to the element of main , then main also shifts or takes that margin top , this is a glitch in css , to overcome this we have to create a very small gap between the parent and its child . */
    padding-top: 0.1px;
    position: relative;
    
}

#nav{
    height: 10vh;
    width: 100%;
    /* background-color: brown; */
    margin-top: 40px; 
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;

    justify-content: space-between;
    
}

#nav h1{
    /* background-color: yellow; */
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 55px;
    letter-spacing: -1;

}

#nav h2{
    /* background-color: yellow; */
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 26px;
    font-weight: 600;
    
}

#nav h2:nth-last-child(2){
    /* background-color: yellow; */
    width:29%;
}
#nav h2:nth-last-child(1){
    /* background-color: yellow; */
    width:10%;
    /* background-color: pink; */
}

#center{
    height: 90%;
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 4.5vw;
    /* position: relative; */

}

#content{
    height: 100%;
    width: 100%;
    /* background-color: orangered; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
   object-fit: cover;
}

#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
} 

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1{
    font-family: monument;
    font-size: 3.5vw;
    color: white;
    
}

#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: olive; */
    border-radius: 50%;
    border: 1.5px solid white;
    color: white;
    /* border-bottom: 5px solid white; */ /* not prefered */
}

#over2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1.5vw 0;
}

#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img{
    height: 3vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    /*can also do using flex*/
    /* overflow-x: auto; */
    overflow-x: hidden;/*as animation is applied*/
    overflow-y: hidden;
    background-color: #f8f8f8;
    font-family: monument;

}


.container{
    height: 79%;
    width: 85%;
    /* background-color: rebeccapurple; */
    display: inline-block;
    padding: 1vw;
    animation-name: scroll-ani;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height: 95%;
    border-radius: 50%;
    width: 15%;
    margin: 0vw 1vw;
    object-fit: cover;
    object-position: 30% 30%;

}

@keyframes scroll-ani {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#alphabet{
    height: 11vh;
    width: 100%;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h5{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    /* text-decoration: underline; */
    border-bottom: 2px solid black;
    letter-spacing: 3px;
    margin-right: 2vw;
}

#alphabet h6{
    font-size: 1vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    /* background-color: yellow; */
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all ease;
}

#alphabet h6:hover:nth-child(2n){
    font-size: 1.08vw;
    font-weight: 500;
    border: 2px solid rgb(0, 0, 0);
}

#alphabet h6:hover:nth-child(2n-1){
    font-size: 1.08vw;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    background-color: #f8f8f8;
}

#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1672857822094-4fb4cfe63866?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI5fHxmZW1hbGUlMjBtb2RlbCUyMHBvcnRyYWl0JTIwd2l0aCUyMGdyZXklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: top;
    /* background-color: orangered; */
}

#page2-part2{
    height: 100%;
    width: 45%;
    /* background-color: olive; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page2-part2 h2 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

#page2-part2 h5 {
    font-size: 1.2vw;
    font-weight: 400;
    color: rgb(54, 51, 51);
}

.box{
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

#page2-part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    /* background-color: powderblue; */
}

.page2-bottom{
    width: 100%;
    height: 70%;
    margin-top: 7vw;
    background-color: #f8f8f8;
}

.page2-bottom img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.page2-bottom{
    width: 100%;
    height: 60%;
    margin-top: 3vw;
    /* background-color: black; */
}


#page3{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5vw 4vh;
    background-color: #f8f8f8;
    /* background-color: palegreen; */
    
}

#page3 > h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    font-family: monument;
    margin-bottom: 8vh;
}

.elem{
    /* background-color: gray; */
    width: 100%;
    height: 15vh;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    position: relative;
}

.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 700;
    width: 6%;
}

.elem .elem-part2{
    width: 45%;
}

.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
} 

.elem-mid h1{
    font-size: 2.7vw;
    font-weight: 500;
}

.elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 600;
} 

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 10%;
    opacity: 0;
    transition: all ease 0.7s;
}
.elem:hover img{
    opacity: 1;
    left: 27% ;
}

.elem:hover{
    background-color: #ecececb7;
}

.page4{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
}

.topleft{
    width: 45%;
    height: 100%;
    margin-left: 4vw;
    /* background-color: olive; */
}

.topleft img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* background-color: olive; */
}

.topright{
    width: 30%;
    height: 100%;
    /* background-color: rebeccapurple; */
    margin-right: 5vw;
}

.left-top-content{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-top-content h1{
    font-weight: 700;
    text-transform: uppercase;
    font-family: monument;
    letter-spacing: 1px;

}

.left-bottom-images{
    /* background-color: royalblue; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;

}

.left-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page5{
    width: 100%;
    height: 50%;
    
}

.marque{
    width: 100%;
    background-color: red;
    margin-top: 5vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
}

.marque h1{
    display: inline-block;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent; 
    letter-spacing: 2px ;
    font-family: monument;
    margin-right: 16px;
}

.footer{
    width: 100%;
    height: 100%;
    background-color: orangered;
}