<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div id="main">
        <!-- Navigation -->
        <div id="nav">
            <h4>Menu</h4>
            <i class="fa-solid fa-bars"></i>
        </div>

        <!-- Center Section -->
        <div id="center">
            <h1>Your Heading</h1>
            <div id="center-in">
                <p>Your description text goes here. This is a sample text that you can replace with your content.</p>
                <div id="right">
                    <div class="elem">
                        <a href="#">Link 1</a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="elem">
                        <a href="#">Link 2</a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="elem">
                        <a href="#">Link 3</a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Section -->
        <div id="bottom"></div>
    </div>
</body>
</html> 